/*~
/*.aux
/*.bbl
/*.blg
/*.dvi
/*.log
/*.pdf
/**/*.aux
/**/*~

/community-plattform.toc
/auto/community-plattform.el
/community-plattform.out
/inhalt.txt
/auto/implementierung.el
/community-plattform-blx.bib
/auto/header.el
/community-plattform.ilg
/community-plattform.nlo
/community-plattform.nls
/auto/etl.el
/auto/ausblick.el
/auto/einleitung.el
